.galeria { 
	width:100%; 
	float:left; 
}
.galeria ul{ 
	margin:0;
	padding:0; 
	list-style-type:none;
}
.galeria ul li{ 
	padding:7px; 
	border:2px solid #ccc;
	float:left;
	margin:10px 7px;
	background:none; 
	width:auto; 
	height:auto;
}
.imagenes {
	width:200px;
	height:200px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
  }